{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="alert mb-2" style="background-color: #404E67;">
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible mb-2" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Error! </strong> {{ error }}.
                        </div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible mb-2" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <strong>Done  </strong> {{ success }}.
                        </div>
                    {% endif %}
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item text-white"> Agent List
                        </li>
                        <li class="breadcrumb-item ml-auto text-white">

                            

                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id='agent-form' style="display:none">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="basic-layout-card-center"> Add Money to Agent Account </h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                        <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                                        <li><a onclick="showAgentForm()"><i class="feather icon-x"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="card-body">
                                        <form class="form" action="{% url 'give_agent_money' %}" method="POST">
                                         {% csrf_token %}
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="eventRegInput2">Agent Username</label>
                                                            <input type="text" id="eventRegInput2" class="form-control"
                                                                placeholder="User Name " name="username">
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label for="eventRegInput3">Amount</label>
                                                            <input type="number" id="eventRegInput3"
                                                                class="form-control" placeholder="Amount" name="amount">
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                    </div>
                                    <center>
                                        <div class="form-actions ">
                                            <a href="{% url 'give_agent_money' %}" class="btn btn-warning mr-1">
                                                <i class="feather icon-x"></i> Cancel
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Add Money to Agent Account
                                            </button>
                                        </div>
                                    </center>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-content">
                                <div class="media align-items-stretch">
                                    <div class="p-2 text-center bg-danger bg-darken-2">
                                        <i class="icon-user font-large-2 white"></i>
                                    </div>
                                    <div class="p-2 bg-gradient-x-danger white media-body">
                                        <h5>Total Agent </h5>
                                        <h5 class="text-bold-400 mb-0">{{history|length}} </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-content">
                                <div class="media align-items-stretch">
                                    <div class="p-2 text-center bg-primary bg-darken-2">
                                        <i class="icon-graph font-large-2 white"></i>
                                    </div>
                                    <div class="p-2 bg-gradient-x-primary white media-body">
                                        <h5>Total Agent Amount </h5>
                                        <h5 class="text-bold-400 mb-0">{{total_agent_amount.amount__sum}} €</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- users list start -->
            <section class="users-list-wrapper">
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="users-list-datatable" class="table dataTable no-footer"
                                                role="grid" aria-describedby="users-list-datatable_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="id: activate to sort column descending"
                                                            style="width: 31px;" aria-sort="ascending">Agent Username</th>
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="id: activate to sort column descending"
                                                            style="width: 31px;" aria-sort="ascending">Fullname</th>
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="id: activate to sort column descending"
                                                            style="width: 31px;" aria-sort="ascending">Email</th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="username: activate to sort column ascending"
                                                            style="width: 116px;">Amount</th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="name: activate to sort column ascending"
                                                            style="width: 169px;">Account Created On</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for data in history %}
                                                    <tr role="row" class="even">
                                                         <td>{{ data.agent.username }}</td>
                                                         <td>{{ data.agent.get_full_name }}</td>
                                                         <td>{{ data.agent.email }}</td>
                                                         <td>{{ data.amount }}</td>
                                                         <td>{{ data.created_date }}</td>
                                                    </tr>
                                                {% endfor %}
                                           
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- datatable ends -->
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <!-- users list ends -->
    </div>
</div>
</div>

{% endblock %}


{% block custom_script %}
<script>

    $(document).ready(function () {
        $("#users-list-datatable").DataTable();
        $("#agent-form").css('display', 'none');

    })
    
 


</script>


</script>
{% endblock custom_script %}