{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-lg-8 col-md-8 col-10 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                            <div class="card-header border-0 pb-0">
                                <div class="card-title text-center">
                                    
                                    <!-- <img src="{% static 'app-assets/images/logo/stack-logo-dark.png' %}" alt="branding logo"> -->
                                   
                                    <h4 class="text-success">New Agent Registration</h4>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-body pt-3">
                                    {% if error %}
                                    <div class="alert alert-danger alert-dismissible mb-2" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Oh snap!</strong> {{ error }}
                                    </div>
                                    {% endif %} 
                                    {% if accountCreated %}
                                    <div class="alert alert-success alert-dismissible mb-2" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                        <h2 class="text-secondary"><strong>Success!</strong> Account Created.</h2>
                                        <hr>
                                        <p class="text-secondary">
                                            <b>Username</b>: {{ user_name}} <br>
                                            <b>Password</b>: {{ pass }} <br>
                                         
                                           

                                        </p>
                                    </div>
                                    {% endif %}

                            <form class="form" action="{% url 'add_agent' %}" method="POST">
                                         {% csrf_token %}
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="eventRegInput2">User Name <i class="fa fa-star text-danger"></i></label>
                                                            <input type="text" id="eventRegInput2" class="form-control"
                                                                placeholder="User Name" value="{% if form_field %}{{form_field.username}}{% endif %}" name="username" required>
                                                        </div>
                                            
                                                        <div class="form-group">
                                                            <label for="eventRegInput3">Division</label>
                                                            <input type="textarea" id="eventRegInput3"
                                                                class="form-control" placeholder="Division" value="{% if form_field %}{{form_field.division}}{% endif %}" name="division">
                                                        </div>
                                                         <div class="form-group">
                                                            <label for="eventRegInput3">City</label>
                                                            <input type="textarea" id="eventRegInput3"
                                                                class="form-control" placeholder="City" value="{% if form_field %}{{form_field.district}}{% endif %}" name="district">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="eventRegInput3">Service Area </label>
                                                            <input type="textarea" id="eventRegInput3"
                                                                class="form-control" placeholder="Service Area" value="{% if form_field %}{{form_field.thana}}{% endif %}" name="thana">
                                                        </div>
                                                        
                                                       <!--  <div class="form-group">
                                                            <label for="eventRegInput3">BTC Address</label>
                                                            <input type="textarea" id="eventRegInput3"
                                                                class="form-control" placeholder="BTCAddress" value="{% if form_field %} {{form_field.BTCAddress}} {% endif %}" name="BTCAddress">
                                                        </div>-->      

                                                        <div class="form-group">
                                                            <label for="eventRegInput4">Birthday</label>
                                                            <input type="date" id="eventRegInput4"
                                                                class="form-control" placeholder="Date" name="date" value="{{form_field.date|date:"Y-m-d"}}">

                                                        </div>

                                                 
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="eventRegInput3">Full Name</label>
                                                            <input type="textarea" id="eventRegInput3"
                                                            class="form-control" placeholder="Full Name" value="{% if form_field %}{{form_field.full_name}}{% endif %}" name="full_name">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="eventRegInput3">Email <i class="fa fa-star text-danger"></i></label>
                                                            <input type="input" id="eventRegInput3"
                                                                class="form-control" placeholder="Email" value="{% if form_field %}{{form_field.email}}{% endif %}" name="email" required>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="eventRegInput3">Address</label>
                                                            <input type="textarea" id="eventRegInput3"
                                                                class="form-control" placeholder="Address" value="{% if form_field %}{{form_field.address}}{% endif %}"
                                                                name="address">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="eventRegInput3">Mobile Number</label>
                                                            <input type="textarea" id="eventRegInput3"
                                                                class="form-control" placeholder="Mobile Number" value="{% if form_field %}{{form_field.mobile_no}}{% endif %}"
                                                                name="mobile_no">
                                                        </div>
                                                        <fieldset class="form-group">
                                                            <label for="customSelect">Country</label>
                                                           {% include 'countrylistoptions.html' %} 
                                                               
                                                         

                                                        </fieldset>
                                                    </div>
                                                </div>


                                                <div class="row pt-3">
                                                    <div class="col-sm-6">
                                                        <fieldset class="form-group floating-label-form-group">
                                                            <label for="old-password">New Password <i class="fa fa-star text-danger"></i></label>
                                                            <input type="password" class="form-control"
                                                               name="password" id="user-password" placeholder="Enter Password" required>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <fieldset class="form-group floating-label-form-group">
                                                            <label for="old-password">Re-type Password <i class="fa fa-star text-danger"></i></label>
                                                            <input type="password" class="form-control"
                                                              name="password2"  id="user-password" placeholder="Enter Password" required>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="alert alert-warning alert-dismissible mb-2" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <strong>Password Policy</strong> <br> 1. Password must at least 8 digit length <br> 2. Password must contain one Upper case Character <br> 3. Password must contain one Lower case Character <br> 4. Password must
                                        contain one number <br> 

                                    </div>
                                    
                                    <center>
                                        <div class="form-actions ">
                                            <a href="{% url 'agent_list' %}" class="btn btn-warning mr-1">
                                                <i class="feather icon-x"></i> Cancel
                                            </a>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>
                                        </div>
                                    </center>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}