{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>

        <div class="alert mb-2" style="background-color: #404E67;">
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item text-white"> Hold Line Member
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">
            <!-- users list start -->
            <section class="users-list-wrapper">
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="users-list-datatable" class="table dataTable no-footer"
                                                role="grid" aria-describedby="users-list-datatable_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting_asc" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="id: activate to sort column descending"
                                                            style="width: 31px;" aria-sort="ascending">User Id</th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="username: activate to sort column ascending"
                                                            style="width: 116px;">User Name</th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="name: activate to sort column ascending"
                                                            style="width: 169px;">Joining Date</th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="last activity: activate to sort column ascending"
                                                            style="width: 123px;">Email </th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="status: activate to sort column ascending"
                                                            style="width: 72px;">Package Id</th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="status: activate to sort column ascending"
                                                            style="width: 72px;">Sponsor Id</th>
                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="verified: activate to sort column ascending"
                                                            style="width: 85px;">Phone </th>

                                                        <th class="sorting" tabindex="0"
                                                            aria-controls="users-list-datatable" rowspan="1" colspan="1"
                                                            aria-label="status: activate to sort column ascending"
                                                            style="width: 72px;">Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for hold in hold_profiles %}
                                                    <tr role="row" class="even">
                                                        <td class="sorting_1">{{hold.user.username}}</td>
                                                        <td><a href="#">{{hold.full_name}}</a>
                                                        </td>

                                                        <td>{{hold.created_date}}</td>
                                                        <td>{{hold.user.email}}</td>

                                                        <td>{{hold.package_id}}</td>
                                                        <td>{{hold.sponsor_id}}</td>
                                                        <td>{{hold.mobile_no}}</td>

                                                        <form id="person-delete-{{hold.id}}" action="{% url 'hide_hold' hold.id %}"
                                                            method="POST">
                                                            {% csrf_token %}
                                                            <td><a href="{% url 'hold_edit_member' hold.id %}"><i
                                                                        class="feather icon-edit-1"></i></a>

                                                                <a href="{% url 'hide_hold' hold.id  %}"
                                                                    data-target="#onshown-{{hold.id}}" data-toggle="modal">
                                                                    <i class="feather text-danger icon-trash"></i>
                                                                </a>
                                                                
                                                                <div class="modal fade text-left" id="onshown-{{hold.id}}"
                                                                    tabindex="-1" role="dialog"
                                                                    aria-labelledby="myModalLabel22" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title text-dark"
                                                                                    id="myModalLabel22">Do You Want To
                                                                                    Delete This User "{{hold.full_name}}"</h5>
                                                                                <button type="submit" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span
                                                                                        aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                    class="btn grey btn-secondary"
                                                                                    data-dismiss="modal">Close</button>
                                                                                <button type="button" onClick="hide('{{hold.id}}');"
                                                                                    class="btn btn-warning">Partial
                                                                                    Delete</button>
                                                                                <button type="button"
                                                                                    onClick="permanent_delete('{{hold.id}}')"
                                                                                    class="btn btn-danger">Permanent
                                                                                    Delete</button>
                                                                                <input id="hold_delete_user-{{hold.id}}"
                                                                                    name="del_hold_member"
                                                                                    value="partial" type="text" hidden>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </form>


                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- datatable ends -->
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <!-- users list ends -->
    </div>
</div>
</div>

{% endblock %}


{% block custom_script %}
<script>
    $(document).ready(function () {
        $("#users-list-datatable").DataTable();
    })

    function hide(id) {
        $("#hold_delete_user-"+id).attr("value", "partial");
        $('#person-delete-'+id).submit();
    }

    function permanent_delete(id) {
        $("#hold_delete_user-"+id).attr("value", "permanent");
        $('#person-delete-'+id).submit();
    }
</script>
{% endblock custom_script %}