{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>

        <div class="alert mb-2" style="background-color: #404E67;">
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item text-white">Top 100 List Member 
                    </li>
                  </ol>
                </div>
              </div>
        </div>

        <div class="content-body">
            <!-- users list start -->
            <section class="users-list-wrapper" >
                <!-- <div class="users-list-filter px-1">
                    <form>
                        <div class="row border border-light rounded py-2 mb-2">
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-verified">Verified</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-verified">
                                        <option value="">Any</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-role">Role</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-role">
                                        <option value="">Any</option>
                                        <option value="User">User</option>
                                        <option value="Staff">Staff</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3">
                                <label for="users-list-status">Status</label>
                                <fieldset class="form-group">
                                    <select class="form-control" id="users-list-status">
                                        <option value="">Any</option>
                                        <option value="Active">Active</option>
                                        <option value="Close">Close</option>
                                        <option value="Banned">Banned</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 d-flex align-items-center">
                                <button class="btn btn-block btn-primary glow">Show</button>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div class="users-list-table">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <!-- datatable start -->
                                <div class="table-responsive">
                                    
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="users-list-datatable" class="table dataTable no-footer"
                                                    role="grid" aria-describedby="users-list-datatable_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="id: activate to sort column descending"
                                                                style="width: 31px;" aria-sort="ascending">User Id</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="username: activate to sort column ascending"
                                                                style="width: 116px;">Full Name</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="name: activate to sort column ascending"
                                                                style="width: 169px;">Joining Date</th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="last activity: activate to sort column ascending"
                                                                style="width: 123px;">Email </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="verified: activate to sort column ascending"
                                                                style="width: 85px;">Phone </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="role: activate to sort column ascending"
                                                                style="width: 50px;">Spondor Id</th>
                                                             <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="role: activate to sort column ascending"
                                                                style="width: 50px;">Package Id</th>                                                   
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="users-list-datatable" rowspan="1"
                                                                colspan="1"
                                                                aria-label="status: activate to sort column ascending"
                                                                style="width: 72px;">Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for pkg in package_profiles %}
                                                        <tr role="row" class="even">
                                                            <td class="sorting_1">{{pkg.user.username}}</td>
                                                            <td><a
                                                                    href="#">{{pkg.full_name}}</a>
                                                            </td>
                                                            <td>{{pkg.created_date}}</td>
                                                            <td>{{pkg.user.email}}</td>
                                                            <td>{{pkg.mobile_no}}</td>

                                                            <td>
                                                            {% if pkg.sponsor.username %}
                                                            {{pkg.sponsor.username}}
                                                            {% else %}
                                                            
                                                            None 
                                                            {% endif %}
                                                            </td>
                                                            <td class="{% if pkg.package_id.package_name == 'Primary' %} text-info {% else %} text-danger {% endif %}">{{pkg.package_id.package_name|title}}</td>
                                                            <form id="person-delete-{{pkg.id}}" action="{% url 'hide_member' pkg.id %}" method="POST">
                                                              {% csrf_token %}
                                                            <td><a href="{% url 'top_edit_member' pkg.id %}"><i class="feather icon-edit-1"></i></a>
                                                                <a href="{% url 'hide_member' pkg.id  %}" data-target="#onshown-{{pkg.id}}" data-toggle="modal" >
                                                                    <i class="feather text-danger icon-trash"></i>
                                                                </a>
                                                           
                                                          <div class="modal fade text-left" id="onshown-{{pkg.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel22" aria-hidden="true">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title text-dark" id="myModalLabel22">Do You Want To Delete This User "{{pkg.full_name}}"</h5>
                                                                            <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn grey btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="button"  onClick="hide('{{pkg.id}}');" class="btn btn-warning">Partial Delete</button>
                                                                              <button type="button" onClick="permanent_delete('{{pkg.id}}')"  class="btn btn-danger">Permanent Delete</button>
                                                                              <input id="package_delete_user-{{pkg.id}}"  name="delete_status" value="partial" type="text" hidden>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            </td>
                                                             </form>
                                                        </tr>
                                               {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <!-- datatable ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- users list ends -->
        </div>
    </div>
</div>

{% endblock %}


{% block custom_script %}
    <script>
        
        $(document).ready(function() {
            $("#users-list-datatable").DataTable();
        })
    $(document).ready(function () {
        $("#users-list-datatable").DataTable();
        $("#notification-form").css('display','none');
        
    })
    function showNotificationForm(){
        $("#notification-form").toggle();
    }
   function hide(id) { 
    $("#package_delete_user-"+id).attr("value", "partial");
  $('#person-delete-'+id).submit(); 
    } 
   function permanent_delete(id) { 
    $("#package_delete_user-"+id).attr("value", "permanent");
  $('#person-delete-'+id).submit(); 
    } 
    </script>
{% endblock custom_script %}