{% load static %}
<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'admin_dashboard' %}"><img class="brand-logo" alt="stack admin logo" src="{% static 'app-assets/images/logo/itrader_logo-32_x_27.png' %}">
                        <h2 class="brand-text"> {% block title %} iTrader Uk {% endblock title %}</h2>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu"></i></a></li>

                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon feather icon-maximize"></i></a></li>
                    <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i class="ficon feather icon-search"></i></a>
                        <div class="search-input">
                            <input class="input" type="text" placeholder="Explore Stack..." tabindex="0" data-search="template-search">
                            <div class="search-input-close"><i class="feather icon-x"></i></div>
                            <ul class="search-list"></ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language"></span></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
                            <a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us"></i> UK</a>


                        </div>
                    </li>
                    <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon feather icon-bell"></i><span class="badge badge-pill badge-danger badge-up">{{notification_object.notification_count}}</span></a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <li class="dropdown-menu-header">
                                <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span><span class="notification-tag badge badge-danger float-right m-0">{{notification_object.notification_count}} New</span></h6>
                            </li>
                            <li class="scrollable-container media-list">
                                {% for n in notification_object.notification_list %}
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i class="feather icon-plus-square icon-bg-circle bg-cyan"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading">{{n.title}}</h6>
                                            <p class="notification-text font-small-3 text-muted">{{n.body}}</p><small>
                                                
                                                    <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">{{n.created_at}} ago</time></small>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}


                            </li>
                            <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all notifications</a></li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <span class="user-name badge"> admin</span>
                            <div class="avatar avatar-online">
                                {% if profile_admin.photo %}
                                <img src="{{ profile_admin.photo.url }}" alt="avatar"><i></i>
                                  {% else %}
                                <img src="{% static 'app-assets/images/avatar.jpg' %}" width="100px" style="border-radius: 50%; border-color: black; border-width: 5px;" />                              
                               {% endif %}
                                </div>
                        </a>
                        
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item">
                                <div class="avatar avatar-online">
                                    {% if profile_admin.photo %}
                                    <img src="{{ profile_admin.photo.url }}" alt="avatar">
                                    {% else %}
                                    <img src="{% static 'app-assets/images/avatar.jpg' %}" width="100px" style="border-radius: 50%; border-color: black; border-width: 5px;" />                              
                                      {% endif %}
                                </div>
                              
                       
                                <span class="user-name pl-1"> {{ user.username|title}} </span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'edit_admin' %}"><i class="feather icon-user"></i> Edit Profile</a>
                            <!-- <a class="dropdown-item" href="app-email.html' %}"><i class="feather icon-mail"></i> My Inbox</a>
                                <a class="dropdown-item" href="user-cards.html' %}"><i class="feather icon-check-square"></i> Task</a><a class="dropdown-item" href="app-chat.html' %}"><i class="feather icon-message-square"></i> Chats</a> -->
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'logout'%}" class="dropdown-item" href="#"><i class="feather icon-power"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END: Header-->