<div class="form-group">
   
    <button type="button" class="btn btn-outline-success block btn-lg" data-toggle="modal" data-target="#hold-primary">
        Launch Modal
    </button>

    <!-- Modal -->
    <div class="modal fade text-left" id="hold-primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel19" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel19">Confirm Top 100 </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <h5>Do You want to push user in Top 100 Line</h5>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-outline-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>