<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<form action="{% url 'test' %}" method="POST">
 {% csrf_token %}
  <div class="container">

    <p>Please fill in this form to create an account.</p>
    <hr>
   <br>
    <label for="email"><b>title</b></label>
    <input type="text" placeholder="Enter tilte" name="title" id="email" required>
    <br>
    <label for="email"><b>body</b></label>
     <input type="text" placeholder="Enter body" name="body" id="email" required>
        <br>
    <label >Duration:</label>
    
    <input type="date"  name="duration">
   <br>
     <select name="member_type">
    <option value="ALL_MEMBER">all member</option>
    <option value="AGENT">agent</option>
    <option value="MEMBERS">members</option>
    <option value="WINNER">winner</option>
  </select>
 <br>
  <br>
    <button type="submit" class="registerbtn">Submit</button>
  </div>
  


</form>

</body>
</html>
