{% load static %}

<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-static-top navbar-light navbar-border navbar-brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="feather icon-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a class="navbar-brand" href="{% if user.is_authenticated %} {% url 'home' %} {% else %} {% url 'landing_home' %} {% endif %}"><img class="brand-logo" alt="stack admin logo" src="{% static 'app-assets/images/logo/itrader_logo_b-32_x_27.png' %}">
                        <h2 class="brand-text">iTrader Uk</h2>
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container container center-layout">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main  hidden-xs " style="font-size: 1.6rem;align-self: center;margin-right: 0.5rem;margin-top:-3px" href=" {% if user.is_authenticated %} {% url 'home' %} {% else %} {% url 'landing_home' %} {% endif %}"><i class="feather icon-home "></i></a>
                    </li>

                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon feather icon-maximize"></i></a></li>

                </ul>
                <ul class="nav navbar-nav float-right">

                    {% if user.is_authenticated %}
                    <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon feather icon-bell"></i><span class="badge badge-pill badge-danger badge-up">{{notification_object.notification_count}}</span></a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <li class="dropdown-menu-header">
                                <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span><span class="notification-tag badge badge-danger float-right m-0">{{notification_object.notification_count}} New</span></h6>
                            </li>
                            <li class="scrollable-container media-list">
                                {% for n in notification_object.notification_list %}
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i class="feather icon-plus-square icon-bg-circle bg-cyan"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading">{{n.title}}</h6>
                                            <p class="notification-text font-small-3 text-muted">{{n.body}}.</p><small>
                                                <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">{{n.created_at}}</time></small>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </li>
                            <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                        {% if profile.photo %}

                            <div class="avatar avatar-online"><img src="{{ profile.photo.url }}" alt="avatar"><i></i></div><span class="user-name">{{user.username}}</span>
                        

                        {% else %}

                            <div class="avatar avatar-online"><img src="{% static 'app-assets/images/avatar.jpg' %}" alt="avatar"><i></i></div><span class="user-name">{{user.profile.full_name}}</span>
                        {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">



                            <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'logout' %}"><i class="feather icon-power"></i> Logout</a>
                            <a class="dropdown-item" href="{% url 'update_profile' %}"><i class="feather icon-user"></i> Edit Profile</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-menu-main  hidden-xs" href="{% url 'login'%}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>